* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: grid;
  margin: 0px;
  padding: 0px;
  background: #fada5e;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

main {
  margin: 5vh auto;
}

.recipe-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

a,
li {
  line-height: 2em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
